<div class="flex flex-col p-8 h-screen justify-center items-center">
    <div class="flex flex-col justify-center items-center gap-4">
        <h1 class="text-4xl font-bold">PROYECTOS</h1>
        <div class="divider h-2 w-18 border-4 border-gray-800 bg-transparent mx-auto"></div>
        <p class="text-2xl text-gray-400">Aquí encontrarás algunos de los proyectos personales y de clientes que he desarrollado, cada uno acompañado de su propio estudio de caso.</p>
    </div>
    <div class="flex flex-row p-4">
        <div class="">
            <img src="/assets/img/proyectos.jpeg" alt="proyectos">
        </div>
        <div class="">
            <h1>AULA VIRTUAL CEFOESP</h1>
            <p>Esta aula virtual fue creada para que los alumnos que reciben capacitaciones en seguridad y vigilancia privada tengan el desarrollo de sus cursos de forma practica y mas especializada</p>
            <button class="btn btn-success">Mas Informacion</button>
        </div>
    </div>
</div>